body {
  margin: 1% 5% 1% 5%;
  color: #000; 
  border-radius: 0.5em;
  border: 1em #fff;
  box-shadow: rgb(155,155,155) 0px 1px 5px 0px;
  line-height: 1.5;
  font-family: 'Lato', '微軟正黑體', sans-serif;
}

a:hover{
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
}

#logo img{
  border-radius: 0.25em 0.25em 0em 0em;
  margin: 0em 0em -0.7em 0em;
  width: 100%;
  height: auto;
}

nav{
  background: orange;
  padding: 0em 0.5em 0em 0.5em;
}

nav ul{
  display: block;
  list-style: none;
  padding: 0.1em;
  overflow: hidden;
  float: center;
}

nav ul li{
  display: inline-block;
  padding: 0.5em;
}

nav ul li a{
  color: #fff;
  text-decoration:none;
  padding: 0.4em;
  border-radius: 0.5em;
}

nav ul li a:hover{
  background: white;
  color: orange;
}


section{
  padding: 0em 2.5em 0em 0em;
}

section a{
  text-decoration: none;
  color: orange;
}

h1, h2, h3, h4, h5, h6{
  letter-spacing: 0.03em;
}

article .signupdetail, .handindetail{
  padding-right: 2.5em;
  border-bottom: 1px #ddd solid;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

article .note{
  padding-right: 2.5em;
  padding-bottom: 1em;
}

article h2{
  font-size: 1.3em;
  padding-left: 2em;
  text-align: left; 
  color: #fc3039;
}

article h3{
  display: inline-block;
  text-align: center;
  background: #ddd;
  border: #ddd solid;
  border-radius: 1em;
  width: 50%;
}

article h4{
  margin-bottom: 1em;
  border-bottom: 0.3em;
  text-decoration: underline;
}

article ol li{
  list-style: none;
}

footer{
  text-align: center;
  padding: 0em 1.5em 0em 1.5em;
  background: #dca;
  color: #fff;
  border-radius: 0em 0em 0.25em 0.25em;
}